{% extends 'base.html' %}
{% block content %}
<h1>Accounts page</h1>
<h2>Hi {{ user.get_username }}</h2>
<h2><a class="btn btn-primary" href="{% url 'account_new' %}">New account</a></th></h2>
<table style="width:100%">
  <tr>
    <th>Bank</th>
    <th>Account name</th>
    <th>Currency</th>
    <th>Iban</th>
    <th>Action</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td>{{account.bank}}</td>
    <td>{{account.currency}}</td>
    <td>{{account.iban}}</td>
    <td>{{account.name}}</td>
    <th>
      <a class="btn btn-primary" href="{% url 'account_edit' pk=account.pk %}">Edit</a>
      <a class="btn btn-primary " href="{% url 'account_delete' pk=account.pk %}">Delete</a>
    </th>

  </tr>
  {% endfor %}
</table>
{% endblock content %}